* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Plus Jakarta Sans,
    sans-serif;
}

body {
  background-color: #e4ebfa;
}

/* Layout */
.app {
  display: flex;
  height: 100vh;
}
/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.logo img {
  width: 140px;
  height: auto;
  display: block;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #ffffff;
  padding: 24px;
  border-right: 1px solid #e4e7ec;
}
.boards-title {
  font-size: 12px;
  color: #828fa3;
  margin-bottom: 12px;
}

.board-btn {
  width: 90%;
  padding: 14px 24px;
  border: none;
  border-radius: 0 999px 999px 0;
  background: #635fc7;
  color: white;
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: 600;
  cursor: pointer;

  display: block;
}

/* Main content */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  padding: 24px;
  background: #ffffff;
  border-bottom: 1px solid #e4e7ec;
}

.header h2 {
  font-size: 24px;
}

/* Board columns */
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 24px;
}

.column-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #828fa3;
  margin-bottom: 16px;
  letter-spacing: 1px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.todo {
  background: #49c4e5;
}

.doing {
  background: #635fc7;
}

.done {
  background: #67e2ae;
}

/* Cards */
.card {
  background: #ffffff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
/* Default (Laptop) */
.laptop-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Logo image */
.board-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.board-favicon {
  display: none;
}

/* ======================
   MOBILE VIEW
====================== */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
    height: auto;
  }
  .sidebar {
    display: none;
  }

  .header {
    padding: 16px;
  }

  .board {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
  }
  .board-title {
    justify-content: flex-start;
  }

  .board-favicon {
    display: block;
    width: 24px;
    height: 24px;
  }
}
